[submodule "project.lambla.eu/traefik"]
	path = project.lambla.eu/traefik
	url = git@github.com:blablanumerodeux/traefik.git
[submodule "project.lambla.eu/consul"]
	path = project.lambla.eu/consul
	url = git@github.com:blablanumerodeux/consul.git
[submodule "project.lambla.eu/vault"]
	path = project.lambla.eu/vault
	url = git@github.com:blablanumerodeux/vault.git
